*,
* ::after,
* ::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --corp-dark-Harbor: #354649;
  --corp-middle-Harbor: #828e9b;
  --corp-light-Harbor: #A3C6C4;
  --corp-white-Harbor: #E0E7E9;
}
#root{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
header {
  display: flex;
  justify-content: space-between;
  height: 64px;
  background-color: var(--corp-middle-Harbor);
}

.headerLogo > img{
  width: 300px;
  height: 64px;
}

.headerTwoLinks{
  display: flex;
  align-items: center;
  height: 64px;
  gap: 15px;
  padding-right: 50px;
}

header a {
  text-decoration: none;
}

header p {
  font-size: 18px;
  color: black;
}

header p:hover {
  font-size: 18px;
  color: black;
  opacity: 0.8;
}

header p:active {
  font-size: 18px;
  color: black;
  opacity: 0.7;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  height: 64px;
  background-color: var(--corp-middle-Harbor)
}
footer > p {
  font-size: 18px;
}

.login {
  background-color: var(--corp-white-Harbor);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.login > form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.login > form > label {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.loginButton {
  background-color: var(--corp-light-Harbor);
  border: 2px solid var(--corp-dark-Harbor);
  cursor: pointer;
}
.loginButton:hover{
  opacity: 0.9;
}
.loginButton:active{
  opacity: 0.8;
}
.failedLogin {
  padding-top: 5px;
  color: red
}
.registerPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  background-color: var(--corp-white-Harbor);
}
.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.registerForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.registerForm > label {
  display: flex;
  flex-direction: column;
  width: 302px;
  height: 60px;
}
.registerForm > label > span {
  padding-top: 3px;
  color: red;
}
.registerButton {
  background-color: var(--corp-light-Harbor);
  width: 100px;
  height: 25px;
  cursor: pointer;
}
.registerButton:hover {
  opacity: 0.9;
}
.registerButton:active {
  opacity: 0.8;
}
.formContainer > h1 {
  padding-bottom: 15px;
}
.noPosts {
  display: flex;
  justify-content: center;
  flex: 1;
  align-items: center;
  background-color: var(--corp-white-Harbor);
}
.noPosts > p {
  font-size: 30px;
}
.noPosts > p > a {
  text-decoration: none;
}
.noPosts > p > a:hover {
  opacity: 0.9;
}
.noPosts > p > a:active {
opacity: 0.8;
color: #551a8b;
}
